body
{
    margin-left: 15%;
    margin-right: 15%;
	background-color: #282a36;
	color : #f8f8f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html
{
	height : 100%;
}

footer {
    height:15%;   /* Height of the footer */
    margin-top: auto;
}

a {
    color: #8be9fd;
}

h1{
    color : #bd93f9;
    text-align: center;
}

h2{
    color : #ff79c6;
    text-align: center;
}

h3{
    color : #8be9fd;
    text-align: center;
}

hr{
    color: #6272a4;
}

.contact{
    color: #ff5555;
}

.column {
    padding: 1rem; /* Optional */
}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-container {
    display: grid;
    /* grid-gap: 1rem; Optional */
    grid-template-columns: 1fr 1fr;
    /* padding: 1rem; Optional */
}

.button {
    background-color: white; 
    border: none;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}
    
.logo-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .logo-bar li {
      
    display: inline;
    padding: 1%;
  }